<mat-toolbar color="primary" style="background-color: #194A82;">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title">ASR Hospital Application</span>

  <span class="spacer"></span>
  <div class="current-time">
    <span>{{ currentTime }}</span>
  </div>&nbsp; |
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <span [matMenuTriggerFor]="menu" class="username">{{ userName }}</span>


  <mat-menu #menu="matMenu">
    <button mat-menu-item>Profile</button>
    <button mat-menu-item>Settings</button>
    <button mat-menu-item (click)="onLogout()">Logout</button>
  </mat-menu>


</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <app-navigation></app-navigation>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<footer [ngClass]="{'footer-expanded': isSidenavOpened, 'footer-collapsed': !isSidenavOpened}">
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <span><b>© 2025 ASR Hospital</b></span>
    <div>
      <a href="/privacy-policy" style="text-decoration: none; margin-right: 15px;"><b>Privacy Policy</b></a>
      <a href="/terms-conditions" style="text-decoration: none;"><b>Terms & Conditions</b></a>
    </div>
  </div>
</footer>