<div class="patient-header">
    <h2>Patient Registration</h2>
</div>

<div>
    <form>
        <mat-card>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Title</mat-label>
                            <mat-select placeholder="Title" required>
                                <mat-option value="Mr">Mr</mat-option>
                                <mat-option value="Mrs">Mrs</mat-option>
                                <mat-option value="Dr">Dr</mat-option>
                            </mat-select>
                            <mat-error>Title cannot be empty!</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3 col-sm-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>First Name</mat-label>
                            <input matInput type="text" placeholder="First Name" required>
                            <mat-error>First Name Cannot be empty</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3 col-sm-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Middle Name</mat-label>
                            <input matInput type="text" placeholder="Middle Name">
                        </mat-form-field>
                    </div>

                    <div class="col-md-3 col-sm-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Last Name</mat-label>
                            <input matInput type="text" placeholder="Last Name">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <mat-form-field appearance="outline" class="col-sm-3">
                        <mat-label>Gender</mat-label>
                        <mat-select placeholder="Gender" required>
                            <mat-option value="Male">Male</mat-option>
                            <mat-option value="Female">Female</mat-option>
                        </mat-select>
                        <mat-error>Gender cannot be empty!</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-sm-3">
                        <mat-label>Primary Mobile Number</mat-label>
                        <input matInput minlength="10" maxlength="10" type="text" placeholder="Primary Mobile Number"
                            required>
                        <mat-error>Primary Mobile Number cannot be empty (or) less than 10 characters</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-sm-3">
                        <mat-label>Age (In Years)</mat-label>
                        <input matInput placeholder="Age (In Years)">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-sm-3">
                        <mat-label> Date Of Birth </mat-label>
                        <input matInput maxlength="10" placeholder="DD/MM/YYYY" [matDatepicker]="dob" required>
                        <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                        <mat-datepicker #dob></mat-datepicker>
                        <mat-error>
                            Please pick a valid Date of birth
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field appearance="outline" class="col-sm-3">
                        <mat-label>Occupation</mat-label>
                        <input matInput type="text" placeholder="Occupation">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-sm-3">
                        <mat-label>Blood Group</mat-label>
                        <mat-select placeholder="Blood Group">
                            <mat-option value="A+">A+</mat-option>
                            <mat-option value="A-">A-</mat-option>
                            <mat-option value="B+">B+</mat-option>
                            <mat-option value="B-">B-</mat-option>
                            <mat-option value="AB+">AB+</mat-option>
                            <mat-option value="AB-">AB-</mat-option>
                            <mat-option value="O+">O+</mat-option>
                            <mat-option value="O-">O-</mat-option>
                            <mat-option value="RH+">RH+</mat-option>
                            <mat-option value="RH-">RH-</mat-option>
                        </mat-select>
                        <mat-error>Blood Group cannot be empty!</mat-error>
                    </mat-form-field>
                </div>

            </div>
        </mat-card>
    </form>
    <div style="margin-top: 15px">
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="patient-heading-style">Communication</div>
                        <input type="text" hidden="true">
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <input type="text" hidden="true">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label> Secondary Mobile Number </mat-label>
                                <input matInput minlength="10" maxlength="10" type="text"
                                    placeholder="Secondary Mobile Number">
                                <mat-error> Secondary Mobile Number cannot be less than 10 characters </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-12">
                            <input type="text" hidden="true">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label> Email </mat-label>
                                <input matInput type="text" placeholder="Email">
                                <mat-error> Email cannot be null! </mat-error>
                            </mat-form-field>
                        </div>
                    </div>


                    <div> Primary Address: </div>
                    <input type="text" hidden="true">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Search for Area, Region, Postal Office & Pincode</mat-label>
                                <input matInput placeholder="Search for Area, Region, Postal Office & Pincode...">
                                <mat-autocomplete>
                                    <mat-option> Example Pincode Data </mat-option>
                                </mat-autocomplete>
                                <mat-error> Postal Code cannot be empty or less than 6 characters! </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label> Address Line 1 </mat-label>
                                <input matInput type="text" placeholder="Address Line 1">
                                <mat-error> Address Line 1 Cannot be null! </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-12">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label> Address Line 2 </mat-label>
                                <input matInput type="text" placeholder="Address Line 2">
                                <mat-error> Address Line 2 Cannot be null! </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-12">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label> Address Line 3 </mat-label>
                                <input matInput type="text" placeholder="Address Line 3">
                                <mat-error> Address Line 3 Cannot be null! </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-12">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label> City </mat-label>
                                <input matInput type="text" placeholder="City">
                                <mat-error> City Cannot be null! </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 col-12">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label> District </mat-label>
                                <mat-select>
                                    <mat-option> Example District </mat-option>
                                </mat-select>
                                <mat-error> SubDivision 1 or District Name cannot be empty! </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 col-12">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label> State </mat-label>
                                <mat-select>
                                    <mat-option> Example State </mat-option>
                                </mat-select>
                                <mat-error> SubDivision 2 or State Name cannot be empty! </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-12">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label> Country </mat-label>
                                <mat-select>
                                    <mat-option value="IN"> India </mat-option>
                                </mat-select>
                                <mat-error> Country type cannot be null! </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 col-12">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label> Postal Code </mat-label>
                                <input matInput minlength="6" maxlength="6" placeholder="Postal Code">
                                <mat-error> Postal Code cannot be empty or less than 6 characters! </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div>
                        <h6> SECONDARY ADDRESS </h6>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <mat-checkbox [checked]="secondaryAddressChecked"
                                        (change)="OnSameAsPrimarySelectionChange($event)" color="primary"> Same as
                                        Primary Address </mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="!secondaryAddressChecked">
                        <input type="text" hidden="true">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label> Address Line 1 </mat-label>
                                    <input matInput type="text" placeholder="Address Line 1">
                                    <mat-error> Address Line 1 Cannot be null! </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-12">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label> Address Line 2 </mat-label>
                                    <input matInput type="text" placeholder="Address Line 2">
                                    <mat-error> Address Line 2 Cannot be null! </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-12">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label> Address Line 3 </mat-label>
                                    <input matInput type="text" placeholder="Address Line 3">
                                    <mat-error> Address Line 3 Cannot be null! </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 col-12">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label> City </mat-label>
                                    <input matInput type="text" placeholder="City">
                                    <mat-error> City Cannot be null! </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4 col-12">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label> District </mat-label>
                                    <mat-select>
                                        <mat-option> Example District </mat-option>
                                    </mat-select>
                                    <mat-error> SubDivision 1 or District Name cannot be empty! </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4 col-12">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label> State </mat-label>
                                    <mat-select>
                                        <mat-option> Example State </mat-option>
                                    </mat-select>
                                    <mat-error> SubDivision 2 or State Name cannot be empty! </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="row">
        <div class="col-sm-12" style="padding-top: 20px; display: flex; justify-content: space-between;">
            <button mat-raised-button style="margin-right: 12px;" color="#fff" type="button">Cancel</button>
            <button mat-raised-button style="margin-right: 12px;" color="primary" type="button"
                [disabled]="false">Proceed
                to Pharmacy</button>
        </div>
    </div>
</div>