<div class="card-container">
    <div *ngFor="let item of setupItems" class="card-item">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>{{ item.name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="icon">
                    <mat-icon>{{ item.icon }}</mat-icon>
                </div>
                <p>Click to go to the {{ item.name }} setup page.</p>
            </mat-card-content>
            <mat-card-actions>
                <a mat-button [routerLink]="item.link">Go</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>