.nested-list {
    margin-left: 24px;
}

.nested-list mat-list-item {
    padding-left: 16px;
}

.lab-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.chevron-class {
    margin-right: 5px;
    padding-left: 62%;
}